<?xml version="1.0" ?>
<robot name="Field" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Field_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Field_description)/urdf/Field.trans" />
<xacro:include filename="$(find Field_description)/urdf/Field.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="1.3 0.745 0.11104375991538867" rpy="0 0 0"/>
    <mass value="296.887"/>
    <inertia ixx="95.502296" iyy="233.407085" izz="316.676119" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Field_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Field_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
